{% extends '@Core/Layout/base.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim ipsum nec odio lacinia hendrerit. Integer metus sapien, euismod eget rhoncus vitae, venenatis quis velit. Ut gravida eros id odio mattis, eget pharetra lorem sagittis. Suspendisse volutpat turpis quis ante porta sagittis at non ex. Praesent at urna id lectus fermentum porttitor scelerisque ut nisi. Pellentesque condimentum nisi massa, mattis consequat nisi laoreet sed. Nulla facilisi. Suspendisse et consectetur dui, eget ullamcorper ex. Morbi commodo mi eget interdum tincidunt. Proin id mauris viverra, auctor libero in, congue sem. Integer egestas nisl eu commodo iaculis. Nulla pulvinar nunc pulvinar, congue dolor ac, pulvinar massa. Proin tempor lectus ipsum. Ut a pharetra sapien. Cras ornare ipsum ex, ut malesuada erat varius vitae. Vestibulum ultrices lectus et mauris posuere sagittis.</p>
            <p>Vestibulum nec sagittis turpis. Sed vel purus ultricies, cursus magna id, interdum magna. Praesent nec pellentesque odio. Duis efficitur ex efficitur semper sagittis. Aliquam interdum massa tortor, et pulvinar nulla mattis in. Aliquam ac nunc enim. Praesent posuere ipsum vel lacus interdum ornare. Aenean id tortor sed nisi fermentum aliquet et in magna. Vestibulum eleifend quis nunc eget gravida. Donec quis ipsum pretium, pharetra justo et, placerat tortor. Phasellus laoreet, arcu a accumsan tristique, est sapien malesuada arcu, id porttitor dolor arcu vel orci. Quisque vitae leo massa. Praesent non quam quis lorem interdum congue. Nulla scelerisque mi eros, eu fringilla eros porta vel. Praesent tristique, felis in aliquet malesuada, libero sapien fermentum purus, id dapibus enim lectus a felis.</p>
            <p>Cras eget pellentesque elit, quis lacinia ante. Vivamus quis aliquam diam. Aliquam nibh leo, aliquam et ligula vel, tempus varius lectus. Fusce et sagittis ligula, nec luctus arcu. Ut condimentum lacus eu tincidunt tempor. Curabitur enim justo, venenatis sit amet neque aliquet, congue rhoncus nibh. Vestibulum rhoncus felis ut enim pharetra pellentesque. Aliquam sed magna nibh. Etiam nisl neque, congue eget sagittis accumsan, consectetur at tortor. Suspendisse potenti.</p>
        </div>
    </div>
    <a href="{{ path('home_page') }}"></a>
{% endblock content %}