<!DOCTYPE html>
<html class="ls-top-navbar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ThemeKit</title>
    <link href="{{ asset('assets/css/vendor.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/css/theme-core.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/module-essentials.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/module-layout.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/module-sidebar.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/module-sidebar-skins.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/module-navbar.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-main navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- Brand -->
            <a class="navbar-brand" href="{{ path('home_page') }}">Layout Kit</a>
        </div>
        <div class="navbar-collapse collapse" id="collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('home_page') }}">Главная</a></li>
                <li><a href="{{ path('user_list') }}">Пользователи</a></li>
            </ul>
            <ul class="nav navbar-nav  navbar-right ">
                <li class="dropdown">
                    <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Профиль <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('security_login') }}">Страница входа</a></li>
                        <li><a href="index.html#">Мой профиль</a></li>
                        <li class="active"><a href="index.html#">Настройки</a></li>
                        <li><a href="index.html#">Портфолио</a></li>
                        <li><a href="index.html#">Статистика</a></li>
                        <li><a href="index.html#">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="page-section">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!-- Separate Vendor Script Bundles -->
<script src="{{ asset('assets/js/vendor-core.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor-forms.min.js') }}"></script>

<script src="{{ asset('assets/js/module-essentials.min.js') }}"></script>
<script src="{{ asset('assets/js/module-layout.min.js') }}"></script>
</body>
</html>