{% extends "@Core/Layout/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'layout.login'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.message|trans }}</div>
                        {% endif %}
                        <form action="{{ path("security_check") }}" method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <fieldset>
                                <div class="form-group">
                                    <label for="username">{{ 'form.email'|trans }}</label>
                                    <input type="email" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
                                        {{ 'security.login.remember_me'|trans }}
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                                <br />
                                <div class="text-center">
                                    <a class="btn btn-link" href="{{ path('fos_user_resetting_request') }}">{{ 'user.action.recover_password'|trans([], 'messages') }}</a>
                                    <a class="btn btn-link" href="{{ path('security_register') }}">{{ 'registration.submit'|trans }}</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}