{% extends '@Core/Layout/base.html.twig' %}

{% block content %}
<h1>Користувачі</h1>
    {% for user in users %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>{{ user.profile.fullName }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock content %}